@page "/Account/ForgotPasswordConfirmation"

<AppPageTitle>Forgot password confirmation</AppPageTitle>

<h1>Forgot password confirmation</h1>
<p role="alert">
    Please check your email to reset your password.
</p>
